/*------------------------------ Generic ------------------------------*/

html{
    height: 100%;
    width: 100%;
}

body{
    font-family: arial, Verdana, sans-serif;
    color: #cfcfcf;
    /* background-color:rgb(233, 224, 224); */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('../imgs/background.jpg');
    background-size: cover;
}

main{
    min-height: 100%;
}

footer{
    text-align: center;
    background-color: #333;
    color: #cfcfcf;
    opacity: 0.5;
}

.glyphicon{
    top: 2px;
}

button{
    background-color: #cfcfcf;
    opacity: 0.5;
}

/*------------------------------ Navigation Bar ------------------------------*/
nav{
    opacity: 0.5;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    background-color: #333;
    display: block;
    /* background-color:rgb(233, 224, 224); */
    color:#cfcfcf;
    text-align: center;
    font-size: 1.2em;
    transition: background-color 0.5s;
}

nav ul a:hover{
    background-color: black;
}

nav ul a.current-page{
    border-bottom: 2px solid #cfcfcf;
}


/*------------------------------ Resume Page ------------------------------*/

#resume-container .resume-section ul{
    list-style: none;
    padding: 0;
}

#resume-container h1,
#resume-container h2,
#resume-container .resume-personal-info ul{
    text-align: center;
}

.resume-section{
    border:2px solid #cfcfcf;
    border-radius: 6px;
}

.resume-section ul{
    list-style-position: inside;
    padding: 0;
}

.resume-job-title{
    margin-left: 8px;
}

.resume-date,
.resume-section ul{
    margin-left: 8px;
    margin-right: 8px;
}

#resume-container .education p{
    margin-left:8px;
}

/*------------------------------ Project Card ------------------------------*/
#project-container{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    width: 100%;
}

#project-container div{
    width: 30%;
    text-align: center;
    border: grey 2px solid;
    border-radius: 4px;
    margin: 5px 0;
    min-width: 386px;
}

#project-header{
    text-align: center;
}

#project-container img{
    width: 50%;
    height: 50%;
}

/*------------------------------ Blog ------------------------------*/
#blog-header{
    text-align: center;
}

#blog-container{
    width: 80%;
    margin: 5px auto;
}

#blog-container p{
    text-indent: 50px;
}

#blog-container div{
    border: grey 2px solid;
    border-radius: 4px;
    margin: 5px auto;
}


#blog-container .float-left{
    display: inline-block;
    width: 40%;
    float: left;
    margin-top: 0;
    margin-left: 5px;
}

#blog-container .float-right{
    display: inline-block;
    float: right;
    line-height: 2em;
    text-align: right;
    margin-right: 5px;
}

#blog-container .clear-float{
    clear: both;
}

/*------------------------------ Media Queries ------------------------------*/

@media(min-width : 900px){
    /*------------------------------ Navigation Bar ------------------------------*/
    nav{
        display: flex;
        justify-content: flex-end;
        border: grey 2px solid;
        border-radius: 4px;
        padding: 0;
        background-color: #333;
    }

    nav ul{
        margin: 0;
    }

    nav ul a{
        display: inline-block;
        padding: 10px;
    }

    nav ul a:hover{
        color:white;
        background-color: black;
    }
    /*------------------------------ Resume Page ------------------------------*/
    #resume-container{
        max-width: 1000px;
        margin: auto;

    }
    #resume-container .section-title{
        text-transform: uppercase;
    }

    #resume-container .resume-section h1{
        margin: 0;
        border-radius: 6px 6px 0 0;
        text-align: center;
        padding: 5px;
        margin-bottom: 0px;
    }

    #resume-container #personal-info{
        text-align: center;
        margin: 0;
    }

    #resume-container #personal-info li{
        display: inline-block;
        margin: 0px 40px 20px 40px;
    }

    #resume-container li{
        margin-bottom: 5px;
    }

    #resume-container .float-left{
        float: left;
    }

    #resume-container .float-right{
        float: right;
    }

    #resume-container .float-clear{
        clear:both;
    }
}


