/* ------------------- Generic ------------------- */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    font-family: 'Courgette', cursive;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,h2,h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.hide {
    display: none;
}

/* ------------------- Header Showcase ------------------- */
#nav-bar {
    border: none;
    margin-bottom: 0px;
    background-color: #000000;
    font-size: 1.5em;
}

#nav-bar a {
    cursor: pointer;
}


#showcase {
    margin-top: 50px;
    min-height: 50vh;
    color: #fff;
    text-align: center;
}

#showcase #showcase-bg-image {
    position: absolute;
    background-color: #333;
    background-image: url('../imgs/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    z-index: -1;
    opacity: 0.5;
}

#showcase p {
    border-right: 1px solid  white;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
    padding: 0;
    width: 0;
    display: block;
    margin: auto;
}

#showcase p:nth-child(2) {
    width: 301px;
    animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
    animation-fill-mode: forwards;
}

#showcase p:nth-child(3) {
    width: 308px;
    opacity: 0;
    animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#showcase p:nth-child(4) {
    width: 326px;
    opacity: 0;
    animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

#showcase p:nth-child(5) {
    width: 290px;
    opacity: 0;
    animation: type-endline 2s steps(40, end), blink .5s step-end infinite alternate;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}


@keyframes type {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type-endline {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* ------------------- Sections  ------------------- */

#section-a,
#section-b,
#section-c {
    position: static;
    background: #eaeaea;
    color: #fff;
    padding-bottom: 2em;
    height: 100%;
    width: 100%;
}

.content-title,
#showcase h1 {
    font-weight: 700;
}


/* ------------------- Section - a - Blog  ------------------- */

#section-b .content-title {
    color: white;
    position: relative;
}

#blog-bg-image {
    position: absolute;
    background-color: #333;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../imgs/blog-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}


.blog-card {
    width:80%;
    border: black 2px solid;
    margin: 5px auto;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: #333;
    color: #fff;
}

.blog-date,
.blog-read-detail {
    width: 35%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
}

.blog-title {
    width: 65%;
    height: 100%;
    position: absolute;
    left: 35%;
    display: table;
    transition: transform 1s;
}

.blog-date {
    border-right: 2px solid black;
}

.blog-read-detail {
    border-left: 2px solid black;
    cursor: pointer;
}

.blog-read-detail {
    left: 100%;
    font-size: 1.5em;
}

.blog-read-detail p {
    padding-bottom: 0px;
}

.blog-card:hover .blog-date,
.blog-card:hover .blog-read-detail {
    transform: translateX(-100%);
}

.blog-card:hover .blog-title {
    /* 35% / 65% */
    transform: translateX(-53.846154%);
}

.blog-date-day,
.blog-date-month {
    display: block;
    width: 100%;
}

.blog-date-day {
    font-size: 3em;
    margin-top: 5px;
}

.blog-date-month {
    font-size: 1.5em;
    margin-top: -10px;
}

.blog-title p {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    padding: 0;
}

.blog-read-detail img {
    width: 30%;
    height: 30%;
    margin: auto;
}

#more-blog-btn {
    position: relative;
    display: block;
    margin: auto;
    width:100px;
    line-height: 2em;
    text-align:center;
    background: linear-gradient(to right, black 50%, transparent 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.5s ease;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    border: #000000 2px solid;
    border-radius: 4px;
    cursor: pointer;
}

#more-blog-btn:hover {
    background-position:left bottom;
}

/* blog modal */

.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
}

.modal-title {
    float: left;
    font-size: 2.5em;
}

.modal-body {
    height: 75%;
    font-size: 1.5em;
    overflow: scroll;
    text-indent: 4em;
    text-align: left;
    text-justify: newspaper;
    overflow: hidden!important;
}

.modal-content {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../imgs/modal-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.modal-close-btn {
    opacity: 1;
    color: #fff;
    font-size: 4em;
}

/* ------------------- Section - b - Project  ------------------- */
.section-title-project {
    color: #333;
}

.project-img-wrapper,
.project-img-wrapper > img {
    height: 250px;
}

.project-card .thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0px;
    border: none;
}

.project-links {
    height: 100%;
    width: 100%;
    background-color: rgba(104, 104, 104, 0.7);
    z-index: 5;
    position: absolute;
    left: auto;
    bottom: 100%;
    transition: transform 1s;
    opacity: 0.9;
}

.project-links-group {
    display: flex;
    justify-content: space-evenly;
}

.project-card .thumbnail:hover .project-links {
    transform: translateY(100%);
}

a.github-icon,
a.browser-icon {
    display: block;
    width: 50px;
    height: 50px;
}

.github-icon,
.browser-icon {
    width: 50px;
    height: 50px;
}

.project-description {
    position: absolute;
    border: 2px solid white;
    width: 70%;
    height: 40%;
    bottom: 10px;
}

/* ------------------- Skills ------------------- */
#section-c {
    position: relative;
    color: #333;
}

#skills-wrappper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.skill-icon {
    display: block;
    width: 120px;
    height: 120px;
    margin: 5px;
}

/* ------------------- Footer ------------------- */

#main-footer {
    padding-top: 6em;
    background: #000000;
    color: #fff;
    text-align: center;
    padding-top: 0;
}

#main-footer a {
    display: block;
    width: 100%;
}

#my-email {
    font-size: 2em;
    padding: 1% 5%;
    text-align: center;
}

#my-email span {
    top: 5px;
    left: -5px;
}

#my-number span {
    top: 3px;
    left: -5px;
}

#my-number {
    font-size: 1.5em;
    text-decoration: none;
    padding-top: 0px;
}

#thankyou-msg {
    font-size: 1.5em;
}

.social-media-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0 8px;
}

/* Media Queries */
@media only screen and (min-width: 700px) {
    .content-wrap h1 {
        font-size: 9em;
    }

    #showcase .content-wrap p {
        font-size: 3em;
    }

    #showcase,
    #showcase-bg-image {
        height: 100vh!important;
    }

    #showcase p:nth-child(2) {
        width: 458px;
        animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
        animation-fill-mode: forwards;
    }
    
    #showcase p:nth-child(3) {
        width: 467px;
        opacity: 0;
        animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    
    #showcase p:nth-child(4) {
        width: 501px;
        opacity: 0;
        animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
        animation-delay: 4s;
        animation-fill-mode: forwards;
    }
    
    #showcase p:nth-child(5) {
        width: 439px;
        opacity: 0;
        animation: type-endline 2s steps(40, end), blink .5s step-end infinite alternate;
        animation-delay: 6s;
        animation-fill-mode: forwards;
    }  
    
    #section-a,
    #section-b,
    #section-c,
    #blog-bg-image {
        height: 100vh;
    }

    /* ---------- Project ---------- */
    .project-description p {
        font-size: 1em;
    }

    /* ---------- Blog ---------- */
    .blog-card p {
        font-size: 1em;
    }
} 
